.menu-bar{
    -fx-background-color:#474749;
}
.menu-bar .menu .label{
    -fx-text-fill: white;
}
.menu-bar .menu:hover{
    -fx-background-color: #0096c9;
}

.menu-bar .menu .menu-item{
    -fx-background-color: #474749;
}
.menu-bar .menu .menu-item:hover{
    -fx-background-color:  #0096c9;
}