.active
{
        -fx-background-radius: 10px;
        -fx-background-color: white;
        -fx-text-fill:#195eab;
}
.unactive{
        -fx-background-radius: 10px;
        -fx-background-color: gray;
        -fx-text-fill:lightgray;

}
.unactive:hover{
    -fx-background-color: #195eab;
    -fx-text-fill: white;
}
.Table .column .label{
    -fx-background-color: #195eab;
    -fx-text-fill: white;

}
.filter{
    -fx-background-color: #429750;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}
textfield{
    -fx-skin: "com.sun.javafx.scene.control.skin.TextFieldSkin";
    -fx-background-color: #F4F4F4;
    -fx-background-radius: 5;
    -fx-padding: 8px;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-text-fill: #555555;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}
.menu-bar .menu .menu-item{
    -fx-background-color: #474749;
}
.menu-bar .menu .menu-item:hover{
    -fx-background-color: #0096c9;
}
.menu-bar .menu .label{
    -fx-background-color: none;
    -fx-text-fill: white;
}